<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
<div class="main-content">


    {{>header}}
    <img class="portial" src="/img/butterfly.png" alt="">

    <p>about page, not use partials</p>
</div>
{{>footer}}

</body>
</html>