<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
<div class="main-content">
    {{>header}}
<p>help page not use partial</p>
</div>

{{>footer}}

</body>
</html>